# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MainAccount\OneDrive\University\Second Year\SCC212 - Advanced Programming\CollectionExtensionCW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
